@import url("https://fonts.googleapis.com/css?family=Sansita");
@import url(https://www.fonts.com/font/linotype/helvetica?QueryFontType=Web&src=GoogleWebFonts);

/*
I know these imports wont work but I couldn't find any free ones like stated so I'm using them as
place holders till i figure it out.
*/

*{
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block
}
header,
footer
{
    background-color: #A6D8D8;
}

footer {
    bottom: 0;
    color: #E7EF61
}

span {
    display: none
}

.hour {
    display: none
}

body {
    font-family: Helvetica;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: salmon;
    background-image: url(weather/sunny-winter.jpg);
    background-size: cover;
    @media screen and (min-width: 600px){
        
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex
}

nav {
    background-color: #F07C6C;
    position: fixed;
    bottom: 1em;
    left: 0;
    right: 0;
    a:link {
        text-decoration: none;
        color: #47556F;
        a:hover {
            color: #E7EF61;
        }
        a:normal {
           color: #4A4653;
        }
        a:visited {
            color: #4A4653;
        }
        a:active {
           color: #A6D8DB;
        }
    }
}

li {
    padding-left: 10px
}

h {
    font-family: Sansita, "second choice", generic-family;
}

h2 {
    background-color: RGBA(200,200,200,.6); 
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}

div.rotate25 {
    transform: rotate(25deg);
    display: inline-block;
}

/*
An attempt to use a div with id as "current" but doesn't appear to work as desired, selects all divs so it is being commented out for latter use so div edits in css are still usable (i now see i needed to set class not id itself):

div.current {
    background-color: RGBA(200,200,200,.6); 
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}
*/
