 * {
 box-sizing: border-box;  
}

 article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
 display: block; 
}

body {
 margin: 0; 
 padding: 0;
 background-color: salmon;
}
/* main {
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
} ul {
 display: flex;
} nav ~ p {
margin-bottom: 20px;
}
*/