/*The Body*/

/* this is not a font I am likely to ever use again but I found it fitting for a Whiley Coyote type site*/
body {
	font-family: jokerman, arial, sans-serif;
	font-size: 24px;
   background-color: #fff; 
}

#background {
    background-repeat: no-repeat;
    background-image: url(/acme/images/site/background.jpg);
    background-size: cover;
}



/*The page header */
#page-header{
    background-color: #fff;
    flex-flow: row wrap;
}

#page-header img{ 
width: 90%;}


/*The page navigation*/

#page-nav ul {
  border-bottom: 1px solid #fff;
  list-style: none;
}

#page-nav li{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    flex: auto;
    justify-content: space-around;
}


#page-nav{
    position: fixed;
    bottom: 0;
    font-size: 20px;
    flex-flow: row;
    background-color: #de2226;
    width: 100%;
}

#page-nav a {
	color: #808080;
	text-decoration: none;
}

#page-nav a:hover {
	background-color: #990033;
	color: #0000ee;
	border-bottom: 1px solid #fff;
}


/*The main element*/

#page-main {
        background-color: #fff;
    padding: 0;
    margin: 0;
}
#Content1{
    background-color: #fff;
    font-size: 30px;
}

#Content2{
    background-color: #fff;

}

#SideProduct {
    flex-flow: row;
}
/*The page footer*/

#page-footer {
	font-size: .7rem;
	margin-bottom: 24px;
    padding: 0;
        background-color: #fff;
}

#page-footer > *{
	padding: 0 0 0 1em;
}

#page-footer li{
	padding-right: 1em;
}

/*The body inner sections*/

#wrapper {
	width: 100%;
	padding: 0 0 0;
	position: relative;
}

#rocket{
position: relative;
    
}
#rockettext{
width:100%;
height:100%;
right:0;
top: 0;
    font-size: 16px;
}


/*Lists as Flex Containers*/

.flexlist {
	display: flex;
	align-items: baseline;
	list-style: none;
	margin: 0;
	padding: 0;
	color: gray;
}

/* ****** page help *****

<section id="">
<p></p>
</section>


 ***** Utility Classes ***** */

#rocket {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url(/acme/images/site/feature.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #de2226;
}

#rocket ul {
	list-style: none;
	font-size: 12px;
	padding: 0;
	padding-left: 10px;
	font-weight: bold;
	margin: 0;
	background-color: rgba(220, 220, 220, .6);
	width: 55%;
}

#rocket img {
	width: 100%;
	height: auto;
}

#productImg img {
width: 100%; 
}

#featuredRecipies{
 flex: auto;
    align-content: center;
    align-items: center;
    vertical-align: middle;
}

#recipies {
    flex: auto;
    align-content: center;
    align-items: center;
    vertical-align: middle;
}

.pic {
    background-color: #808080;
    align-items: flex-end;
    align-content: flex-end;
    flex: auto;
    vertical-align: middle;
}

.pic img{
    height: 100%;
    margin-left: 1.5em;
}


/* ***** Medium Screens ***** */
@media screen and (min-width: 44em){
	#page-header{
		font-size: 2vw;
	}
	
      #page-header img{ 
width: 40%;}
    
    margin-top: -.5em;{
	}

#page-nav{
position: relative;    
}

	
	#page-footer {
		font-size: 1.25rem;
	}
    
    #page-footer p {
        flex-flow: row wrap;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    #page-nav li{
    padding-left: 4px;
    padding-right: 4px;
        font-size: 1.5em;
}

 #troll{
        width: 100%;
    }

    .flexlist {
	display: flex;
	align-items: baseline;
	list-style: none;
	margin: 0;
	padding: 0;
	color: gray;
}

#rocket {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url(/acme/images/site/feature.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	color: #de2226;
    height: 680px;
}
    
#rocket img {
	width: 50%;
	height: auto;
}
    #rocket ul {
    position: relative;
	list-style: none;
	font-size: 40px;
	padding: 0;
	padding-left: 10px;
	font-weight: bold;
	margin: 0;
	background-color: rgba(220, 220, 220, .6);
	width: 50%;
}

       #productImg img {
width: 50%; 
max-height: 600px;
}
    
    .pic img{
    height: 100%;
    margin-left: 0em;
}
    
}

/* ***** Large Screens ***** */
@media screen and (min-width: 60em){
    
    #page-header img{ 
width: 20%;}
    
	.tagline {
		font-size: 1em;
		margin-top: -.5em;
	}
	#page-footer {
		font-size: 2rem;
	}
	#summary {
		font-size: 4vw;
	}
    
    #page-nav li{
    padding-left: 10px;
    padding-right: 10px;
        font-size: 40px;
}
 
    #page-nav ul {
		font-size: 2em;
	}
    
    #page-nav li{
    padding-left: 4px;
    padding-right: 4px;
}
 
    #rockettext{
position: absolute;
width:10%;
height:50%;
left:0;
top: 0;
}
    #rockettext img{
        width: 200%;
    }
   
    #rocket img {
	width: 50%;
	height: auto;
}
    
    #rocket {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url(/acme/images/site/feature.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	color: #de2226;
    height: 700px;
}   
    
    #rocket ul {
    position: relative;
	list-style: none;
	font-size: 40px;
	padding: 0;
	padding-left: 10px;
	font-weight: bold;
	margin: 0;
	background-color: rgba(220, 220, 220, .6);
	width: 50%;
         height: 100%;
}

    #productImg img {
width: 20%;    
        max-height: 1%;
}

    .pic img{
    height: 200%;
    margin-left: 3em;
}
    
}
